body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.el-content{
  width: 300px;
  height: 300px;
  border: 1px;
  box-shadow: 1px 1px 3px 0.1px;
  border-radius: 10px;
  margin-left: 20px;
  padding: 1em;
  transition: 0.5s;
  z-index: 5;
 
}
.el-content:hover  {
  margin-top: 0.5em;
 
}
.navbar-root{

  position: fixed!important;
  bottom: 0;
  background-color: #2e3440;
 width: 100%;
 height: 50px;
 z-index: 999;
 color: white;



}
.navbar-root nav{
  display:flex;
  justify-content: space-evenly;
  padding: 10px;
  
}
.navbar-root nav p{
  border:1px solid white;
  padding: 4px;
  margin-top: auto;
  
border-radius: 10px;
display: flex;
}
.navbar-root nav svg{
  padding-left: 5px;
  padding-right: 5px;
}
.navbar-root nav a{
  color: white;
  text-decoration: none;
 
}

.headapp{
  /* margin-left: 10px; */
  background-color: #12a4d9;
  width: 99%;
  border-radius: 15px;

  margin: 10px;
  
}
.title-site {
  margin-left: 10px;
  margin-top: 0px;
  padding-bottom: 5px;
  padding-top: 5px;
  
}
.title-hr{
  border-radius: 100%;
}
.root{position: relative;}
.content-root{
  display: flex;
  position: relative;
  z-index: 1000;
  mix-blend-mode: normal;
}
.set-content{
  

  background-color: white;
  border: 1px solid orange;
  padding: 0.6em;
  border-radius: 50%;
  transition: .5s;

}
.button-root{ 
justify-content: end;
}
.el-content p{
  height:150px;
  text-overflow: ellipsis;
  
  overflow: hidden;
}
.selected{
  animation: moveleft 1.3s;
  animation-fill-mode: forwards;
  position: relative;
  z-index: 9999;
}
.content-container {
  margin-left: 50px;
  margin-right: 50px;
  animation: showcontent 5s;
  
  animation-fill-mode: forwards;
 
  position: absolute;
  
}
.content-title{
  border-bottom: 1px black solid;
  padding-bottom: .5em;
  border-radius: 5px;
  text-align: center;
  

}
.set-content a {
  color: black;
  text-decoration: none;
}
.el-content h3{
  height: 50px;
}
.inner-title{

padding-bottom: 0.5em;
margin-bottom: 2em;
width: 713px;
background-color: orange;
color: white;
padding: 10px 10px;
position: relative;
}
.inner-title::after{
  border: 23.5px solid transparent ;
  border-left:18px solid orange ;
  content: "";
 left: 732px;

 top: -1px;
  position: absolute;
  
}
.button-link{
  padding: 0.6em;
  background-color: rgb(16, 206, 16);
  color: white;
  margin-top: 0.1em;
  border-radius: 5px;
  border : 1px  solid rgb(16, 206, 16);
  
}
.content-container h4 {
  color: white;
  padding: 15px;
  text-align: center;
  box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
  position: sticky;
 
  top:0;
}
.title-1 {
  
  background-color: #52AD9F;

}
.title-2 {
  background-color:#7152AD;
 
}
.content-box{
  position: relative;

}
.title-3{
background-color: #AD5260;
}
.title-4{
  background-color: #8EAD52;
}
.title-5{
  background-color: rgb(5, 121, 121);
}


@keyframes moveleft{
  0%{
    transform: rotateX(0px);
    display: none;
  }
  20%{
    
    transform: translateX(0px);
    display: none;
  }
  50%{
  
    transform: translateX(-500px);
    opacity: 0.2;
  }
  100%{
   
    transform: translateX(-1000px);
    opacity: 0;
  
  }
}
@keyframes showcontent{
  0%{
  
  transform:translateY(-10000px);
  opacity: 0;
}
  10%{
    transform:translateY(-1000px);
    
    opacity: 0.1;
  }
  20%{
    transform:translateY(-100px);
 
    opacity: 0.2;
  }
  40%{
    transform:translateY(-10px);
  
    opacity: 0.4;
  }
  60%{
    transform:translateY(-1px);
   
    opacity: 0.6;
  }
  80%{
  
    opacity: 0.8;
  }
  100%{

    opacity: 1;
  }
}

