body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.el-content{
  min-width: 300px;
  max-width: 300px;
  max-height: 300px;
  border: 1px;
  box-shadow: 1px 1px 3px 0.1px;
  border-radius: 10px;
  margin-left: 20px;
  padding: 1em;
  transition: 0.5s;
  z-index: 5;
  overflow-wrap: break-word;
 margin-top: 10px;
}
.el-content:hover  {
  margin-top: 0.5em;
 
}
.navbar-root{

  position: fixed!important;
  bottom: 0;
  background-color: #2e3440;
 width: 100%;
 height: 50px;
 z-index: 999;
 color: white;



}
.navbar-root nav{
  display:flex;
  justify-content: space-evenly;
  padding: 10px;
  
}
.navbar-root nav p{
  border:1px solid white;
  padding: 4px;
  margin-top: auto;
  
border-radius: 10px;
display: flex;
}
.navbar-root nav svg{
  padding-left: 5px;
  padding-right: 5px;
}
.navbar-root nav a{
  color: white;
  text-decoration: none;
 
}
.wrap-content{

  padding: 1em 1em 2em;
  /* border: 1px solid black; */
  margin-top: 1em;
  margin-bottom: 1em;

  
}
.image-center{
  text-align: center;
  padding: 2em;
}
.link-list{
  display: flex;
  justify-content: center;
  border: 1px solid   #2e3440;
  padding: 10px;
  
  
}
.content-list-1{
  position: relative;
  z-index: 9999;
  list-style-type: none;
}
.content-list-1 li {
  padding: 5px;
  color: beige;
  width: 400px;
  margin: 10px;
  box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}
.link-contain-1{
  background-color: #52AD9F;

}
.link-contain-1::after{
  content: "  - (Перейти)";
  padding-left: 5px;
 

}
.link-contain-2{
  background-color: #7152AD;
  

}
.link-contain-2::after{
  content: "  - (Перейти)";
  padding-left: 5px;
 

}
.link-contain-3{
  background-color: #AD5260;

}
.link-contain-3::after{
  content: "  - (Перейти)";
  padding-left: 5px;
 

}
.link-contain-4{
  background-color: #8EAD52;

}
.link-contain-4::after{
  content: "  - (Перейти)";
  padding-left: 5px;
 

}
.link-contain-empty-1{
  width: 400px;

  background-color: dimgray;
}
.content-list-2{
  width: 90%;
  color: beige;
  
  
}
.content-list-2 li{
  list-style-type: none;
  box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
  padding: 1em;
  border-radius:30px 1px 30px 1px  ;
  margin: 10px;
}

.link-list li{
  list-style-type: none;
  
  margin-left: 50px;
  border: 1px solid   #2e3440;
  border-radius: 10px;
  padding: 10px;
  background-color:  #2e3440;
  box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}
.link-list a{
  text-decoration: none;
  color: white;
}


.link-1{
  text-decoration: none;
  color: #2e3440;
  border: 1px solid #2e3440;
  padding: 5px;
  border-radius: 5px;
  
  
}
.wrap-content div {
  padding-right: 30em;
}
.images{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding:3em;
}
.wrap-content table{
  border-collapse: collapse; /*убираем пустые промежутки между ячейками*/
    border: 1px solid grey; 
}
th, td {border: 1px solid grey;}

.headapp{
  /* margin-left: 10px; */
  background-color: #12a4d9;
  width: 99%;
  border-radius: 15px;

  margin: 10px;
  
}
.title-site {
  margin-left: 10px;
  margin-top: 0px;
  padding-bottom: 5px;
  padding-top: 5px;
  
}
.title-hr{
  border-radius: 100%;
}
.root{position: relative;}
.content-root{
  display: flex;
  position: relative;
  flex-wrap:wrap;
  padding-bottom: 45px;

 
  mix-blend-mode: normal;
}
.select{
  z-index: -100;
}
.set-content{
  

  background-color: white;
  border: 1px solid orange;
  padding: 0.6em;
  border-radius: 50%;
  transition: .5s;

}
.button-root{ 
justify-content: end;
}
.el-content p{
  height:150px;
  text-overflow: ellipsis;
  
  overflow: hidden;
}
.selected{
  animation: moveleft 1.3s;
  animation-fill-mode: forwards;
  position: relative;
   z-index: -9999; 
 

}
.content-container {
  margin-left: 50px;
  margin-right: 50px;
  animation: showcontent 5s;
  padding-bottom:100px ;
  
  animation-fill-mode: forwards;

  position: absolute;
  
}
.content-title{
  border-bottom: 1px black solid;
  padding-bottom: .5em;
  border-radius: 5px;
  text-align: center;
  

}
.set-content a {
  color: black;
  text-decoration: none;
}
.el-content h3{
  height: 50px;
}
.container-li-1{
  background-color: #AD5260;

}
.container-li-2{
  background-color: #7152AD;
}
.container-li-3{
  background-color: #52AD9F;
}
.container-li-4{
  background-color: #8EAD52;
}
.inner-title{

padding-bottom: 0.5em;
margin-bottom: 2em;
width: 713px;
background-color: orange;
color: white;
padding: 10px 10px;
position: relative;
}
.inner-title::after{
  border: 23.5px solid transparent ;
  border-left:18px solid orange ;
  content: "";
 left: 732px;

 top: -1px;
  position: absolute;
  
}
.button-link{
  padding: 0.6em;
  background-color: rgb(16, 206, 16);
  color: white;
  margin-top: 0.1em;
  border-radius: 5px;
  border : 1px  solid rgb(16, 206, 16);
  
}
.content-container h4 {
  color: white;
  padding: 15px;
  text-align: center;
  box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
  position: sticky;
 
  top:0;
}
.title-1 {
  
  background-color: #52AD9F;

}
.title-2 {
  background-color:#7152AD;
 
}
.content-box{
  position: relative;

}
.title-3{
background-color: #AD5260;
}
.title-4{
  background-color: #8EAD52;
}
.title-5{
  background-color: rgb(5, 121, 121);
}
.table-1 tr td{
  padding: 1rem;
}


@keyframes moveleft{
  0%{
    transform: rotateX(0px);
    display: none;
  }
  20%{
    
    transform: translateX(0px);
    display: none;
  }
  50%{
  
    transform: translateX(-500px);
    opacity: 0.2;
  }
  100%{
   
    transform: translateX(-1000px);
    opacity: 0;
    height: 1px;
  }
}
@keyframes showcontent{
  0%{
  
  transform:translateY(-10000px);
  opacity: 0;
}
  10%{
    transform:translateY(-1000px);
    
    opacity: 0.1;
  }
  20%{
    transform:translateY(-100px);
 
    opacity: 0.2;
  }
  40%{
    transform:translateY(-10px);
  
    opacity: 0.4;
  }
  60%{
    transform:translateY(-1px);
   
    opacity: 0.6;
  }
  80%{
  
    opacity: 0.8;
  }
  100%{

    opacity: 1;
  }
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  
}
.load {
  margin-left:50%;
  margin-right: 50%;
  margin-top: 50%;
  margin-bottom: 50%;
  display: block;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: rgba(0, 0, 0, 0.719);
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
 
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

